<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="brand">
            <img id='logo' src="/image/TodoLogo.gif" alt="logo">
            <h1 id='title'>To-Do App</h1>
        </div>
        <hr>
        <div class="add-todo">
            <form action="/" method="POST">
                <input type="text" name="todo" id="todo"><button id='todo-btn' name="addtodo">Add</button>
            </form>
        </div>
        <hr>
        <div class="todo-data">
            <ul>
                <li class="todo-item">
                    <input type="checkbox" name="chk" id="chk"><span>Pay Bills</span>
                    
                </li>
                <li class="todo-item">
                    <input type="checkbox" name="chk" id="chk"><span>Buy Milk!</span>
                </li>
            </ul>
        </div>

    </div>
    <script>
        document.querySelector('#todo-btn').addEventListener('click',function(){
            alert('you clicked! me!')
        })
    </script>
</body>
</html>