.container{
  top: 40px;
  position: relative;
  display: block;
width: 500px;
margin: 10px auto 100px;
background-color:#fff;
padding:0px 10px 10px 10px;
border-radius:10px;
border-style:solid;
}
.brand img {
  top:-10px;
position: relative;
float: left;
height:55px;
width:90px;

}

.brand h1 {
position: relative;
top: 3px;
left: 90px;

}
body{
width: 100%;
height: 100vh;
/* overflow: hidden; */
padding: 10px;
background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
#todo{
align-items: center;
width: 70%;
padding: 12px 20px;
margin: 5px 0;
border-radius: 25px;

}
#todo:focus {
outline: none;
}
.todo-item{
list-style: none;
height: 26px;
width: 80%;
box-sizing: border-box;
background-color: rgb(182, 179, 179);
margin: 5px;
vertical-align:middle;
border-radius: 20px;
}
#chk{
top:3px;
position: relative;
}

#todo-btn{
width: 97px;
margin-left: 3px;
border-radius: 20px;
height: 40px;

}